html
    head
        title Some title
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/style.css")
    body
        div(class="container")
            h1 Node-Chat
            div
                ul(id="messages")
                    each message in messages
                        li=message.message
                            span(class="pull-right")=message.dateTime
            form
                div(class="form-group")
                    input(id="new-message", name="new-message", class="form-control", placeholder="Your message here", autocomplete="off", required)
                button(type="submit", class="btn btn-default") Submit

        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
        script(src="/socket.io/socket.io.js")
        script(src="javascript/script.js")