#messages {
    height: 300px;
    overflow-y: scroll;
    padding: 0;
    margin-top: 20px;
}

#messages li {
    list-style: none;
    padding: 5px;
}

#messages li:nth-child(odd) {
    background-color: #ebebeb;
}

#messages li:nth-child(even) {
    background-color: #dcdcdc;
}